*{
    margin: 0;
    padding: 0;
}
.d-flex{
    margin-right: 120px;
}
.navbar-brand{
    margin-left: 120px;
}
.navbar-brand img{
    height: 60px;
    width: 200px;
}
.navbar-nav a{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
nav{
    background-color: white;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
.nav-link{
    color: black !important;
}
.active{
    color: #ED7E2C !important ;
}
.first{
    background-color: #FFF9F5;
    height: 90vh;
}
.gridd{
    display: flex;
}
.grid{
    display: flex;
}

.first-content{
    margin-top: 150px;
}
.first-content h1{
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 600px;

}
.first-content p{
    font-size: 20px;
    margin-bottom: 30px;
    width: 600px;
}
.first-content button{
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ED7E2C;
    font-size: 20px;
    font-weight: 500;
}
.first-content button:hover{
    background-color: transparent;
    color: #ED7E2C;
    border: 1px solid #ED7E2C;
}
.first-img img {
    z-index: 1000;
    margin-top: -10px;
    height: 650px;
    margin-left: 30px;
 
}
.bi{
    font-size: 36px;
}
.logo {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    display: flex;
    background-color: rgb(237, 126, 44);
    color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: rgb(153 153 153) 2px 2px 3px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.second{
    height: 100vh;
}
.second-content{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    display: flex;
}
.second-content h2{
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 700;
    margin-left: 20px;
}
.griddd{
    display: flex;
}
.co{
    width: 300px;
    margin: 0px 10px 0px 10px;
}
.pwhc{
    text-align: left;
}
.pwhc h2{
    font-weight: 700;
}
.g-col-3 h3{
    font-size: 21px;
}
.Learn h3{
    font-size: 43px;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 30px;
}
.Learn p{
    font-size: 20px;
    margin-bottom: 30px;
    width: 620px;
}
.Learn button{
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ED7E2C;
    font-size: 20px;
    font-weight: 500;
}
.Learn button:hover{
    background-color: transparent;
    color: #ED7E2C;
    border: 1px solid #ED7E2C;
}
.Learn img{
    height: 500px;
    width: 500px;
    margin-top: 70px;
}
.third{
    background-image: url(images/Rectangle10.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.three{
    border:  1px solid white;
    border-radius: 10px;
    height: 250px;
    width: 300px;
}
.third-content{
    padding-top: 100px;
    padding-bottom: 50px;
}
.third-content h2{
    font-weight: 600;
    font-size: 40px;
}
.git{
    margin-bottom: 80px;
}
.git h1{
    width: 600px;
    font-weight: 700;
    font-size: 40px;

}
.three img{
    margin: 30px;
}
.three p{
    font-size: 24px;
}
.fourth{
    height: 130vh;
}
.four{
    height: 100vh;
    width: 386px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    margin-right: 25px;

}
.four img{
  position: relative;
}
.four-text{
    margin: 25px;
}
.four-text h2{
    margin-bottom: 25px;
    height: 80px;
}
.four-text button{
    height: 40px;
    width: 120px;
    background-color:#B4B4B4;
    border-radius:20px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;

}
.text{
    margin-top: 100px;
    margin-bottom: 50px;

}
.fifth{
    height: 100vh;
}
.une img{
    height: 605px;
    width: 400px;
}
.une, .deux, .trois{
    margin-right: 30px;
}
.deux  img , .trois img{
    margin-bottom: 10px;
}
.trois .lol{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Images/ilding-CGY4TZ5\ \(1\).png);
    background-size: cover;
    display: flex;
    opacity: 5;
    background-repeat: no-repeat;
    height: 350px;
    width: 400px;
}
.trois .lol button{
    margin-left: 130px;
    width: 150px;
    margin-top: 150px;
    background-color: #ED7E2C;
    border: none;
    height: 50px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 25px;
}
.trois .lol button:hover{
    background-color: transparent;
    color: #ED7E2C;
    border: 1px solid #ED7E2C;
}
.recent{
    margin-top: 50px;
    margin-bottom: 50px;
}
.sixth{
    height: 100vh;
}
.box{
    height: 380px;
    width: 400px;
    box-shadow: 0px 1px 4px 4px rgb(0 0 0 / 15%);
    margin-right: 50px;
    border-radius: 20px;
    border: transparent;
}
.box p{
    font-size: 17px;
}
.text p{
    font-size: 20px;
    width: 700px;
    margin: auto;
    padding-top: 20px;
}
.details{
    display: flex;
}
.component-1 i{
    font-size: 35px;
    background-color: #FFCEAB;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #ED7E2C;
    padding-top: 10px;
    padding-left: 12px;

}
.component-2{
    margin-left: 20px;
    
}
.component-2 p{
    color: #ED7E2C;
    font-size: 25px;
}
.box-component{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.seventh{
    height: 90vh;
}
.news-flex{
    display: flex;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 20px;
    z-index: 10;
    height: 450px;
    width: 630px;
    
}
.news-flex img{
    height: 450px;
}
.space{
    justify-content: space-between;
}
.line{
    font-size: 28px;
    font-weight: 600;
}
.news-text{
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.news button{
    background-color: white;
    width: 140px;
    height: 50px;
    border:1px solid #ED7E2C;
    border-radius: 30px;
    color:#ED7E2C;
    font-size: 18px;
    z-index: 1000;
    /* margin-left: 320px; */
    margin-top: 140px;
    

}
.news button:hover{
    background-color: #ED7E2C;
    color: white;

}
button{
    transition: 0.4s ease-in-out;
}
.seventh h1{
    margin-bottom: 30px;
}
footer{
    background-color: #21283B;
    height: 70vh;
    color: white;
}
.foot img{
    height: 90px;
    width: 300px;
    margin-right: 50px;
    margin-bottom: 20px;

}
.foot{
    margin-top: 150px;
    justify-content: space-between;
}
.foot li{
    display: block;

}
.foot li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s ease-in;
}
.foot li a:hover{
    color: #ED7E2C;
}
span{
    color: #ED7E2C;
}
.foot .bx{
    color: #ED7E2C;

}
.foot i{
    display: flex;
    font-size: 20px;
    margin-bottom: 15px;
}
.foot p{
    color: white;
    margin-left: 15px;
    transition: 0.2s ease;
}
.foot a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 20px;
    transition: 0.2s ease;

}
footer h4{
    justify-self: baseline;
    margin-top: 100px;

}
.foot a:hover{
    color: #ED7E2C;
}

@media screen and (max-width: 768px){
    .first-content h1{
        width: 290px !important;
        font-size: 25px !important;
        margin-top: -25%;
        margin-left: 20px;
    }
    .first{
        width: 100%;
    }
    
    .first-content p{
        width: 90%;
        font-size: 15px;
        margin-left: 20px;
    }
    .first-content button{
        margin-left: 20px;
    }
    .navbar-brand img{
        width: 160px;
    }
    .navbar-brand img{
        margin-left: -70%;
    }
    
    .gridd{
        display: flex;
        flex-direction: column;
    }
    .first-img img{
        /* display: none; */
        margin: 0 !important;
        height: 400px;
        margin-top: 20px !important;
        margin-left: -20px !important;
    }
    #sec{
        display: flex;
        margin-top: 100px !important;
        margin-left: -20px !important;
        justify-content: space-between;
    }
    
    .Learn h3{
        font-size: 16px;
        margin: 0 !important;
        margin-top: 20px !important;
    }
     #sec h3{
        font-size: 10px;
    }
    .second-content {
        display: flex;
        flex-direction: column;
    }
    .pro{
        /* display: none; */
        font-weight: 500 !important;
        margin-bottom: -20%;
        margin-top: 90px !important;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .Learn p{
        width: 90% !important;
        font-size: 10px;
        margin-top: 20px !important;
        /* margin-left: -10px; */
    }
    .Learn button{
        height: 23px;
        width: 100px;
        font-size: 10px;
    }
    .Learn img{
        /* display: none; */
        width: 300px;
        height: 300px;
        margin-left: 13px !important;
    }
    .third{
        height: 180vh;
    }
    .third-content{
        padding: 0 !important;
    }
    
    .third-content h2{
        padding: 0 !important;
        font-size: 20px;
        width: 50%;
        text-align: center;
        padding-top: 80px !important;
        padding-left: -30px !important;
    }
    .git h1{
        font-size: 25px;
        width: 350px;
        padding-top: 30px;
        font-weight: 500 !important;
    }
    .para{
        width: 330px;
        margin-top: -49px;
    }
    .three{
        width: 200px;
        height: 180px;
        margin-top: 20px;
        margin-left: 83px !important;
    }
    .three img{
        width: 90px;
    }
    .three p{
        font-size: 15px;
        margin-top: -20px;
    }
    .text p{
        width: 300px;
        font-size: 12px;
        

    }
    .fourth{
        height: 270vh;

    }
    .four{
        width: 300px;
        height: 75vh;
        margin: 0 !important;
        margin-left: 20px !important;
        margin: 20px !important;
    }
    .four img{
        width: 100%;
        
    }
    .he{
        margin-left: -20px;
    }
    .con{
        margin-top: -40px;
        margin-left: -20px;
        width: 90%;
    }
    .four-text button{
        margin: 0 !important;
        margin-left: -20px !important;
        /* margin-top: px !important; */
    }
    .four-text h2{
        margin-left: -20px !important;
    }
    .real{
        margin-top: -50px !important;
        margin-left: -20px !important;
    }
    .learn{
        margin: 0 !important;
        margin-top: -20px;
        margin-left:20px !important ;
    }
    .logo{
        display: none;
        margin: 0 !important;
        width: 20px;
        height: 20px;
        position: fixed;
        margin-left: -1120px !important;
    }
    .fifth{
        height: 270vh;
    }
    .box{
        height: 300px;
        width: 260px;
        margin-left: 58px !important;
        margin-top: 30px !important;
    }
    .box p{
        font-size: 13px;
    }
    .details{
        margin-top: -20px !important;
    }
    .sixth{
        height: 160vh;
        /* display: none; */
    }
    .seventh{
        height: 250vh;
        /* display: none; */
    }
    .news-flex{
        display: flex;
        flex-direction: column;
        width: 340px;
        
    }
    .news-flex img{
        margin-left: 5px !important;
        /* height: 700px; */
    }
    footer{
        height: 120vh;
    }

    .news button{
        margin: 0 !important;
    }
    .news-text{
        margin: 0 !important;
    }
    .space{
        display: flex;
        flex-direction: column;
    }
    .news{
        margin-bottom: 100px;
    }
    .news-flex{
        height: 800px;
    }
    .news-text{
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: 10px !important;
    }
    .foot{
        margin: 0 !important;

    }
    .last{
        margin: 0 !important;
        margin-left: -10px !important;
        margin-top: 20px !important;
    }
    .foot li a{
        margin-left: -10px !important;
    }
    .foot p{
        width: 60%;
    }
    .lastt{
        margin-left: 30px !important;
    }
    .text-centerr{
        margin-left: 37px !important;
        margin-top: 30px !important;
    }
}